body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #222;
  background: #f4f4f4;
}
body {
  background-image: url('back.jpg'); /* Pfad zum Bild */
  background-size: cover;       /* Bild füllt den ganzen Bildschirm aus */
  background-position: center;  /* Bild wird zentriert */
  background-attachment: fixed; /* Hintergrund bleibt beim Scrollen stehen */
  background-repeat: no-repeat; /* Bild wird nicht wiederholt */
}

header {
  padding: 80px 20px;
  text-align: center;
  color: white;
  background: #24292f;
}

main {
  max-width: 800px;
  margin: 40px auto;
  padding: 0 20px;
  background: white;
}

footer {
  padding: 20px;
  text-align: center;
  color: #666;
}
